# Excluir archivos por extensión
*.pdf
*.md
*.mp4
.sql
.json
sql/
SQL/
Sql/
respaldos_db/
# Excluir directorios comunes de backend (ajusta según tu tecnología)
node_modules/
.venv-rasp/
.venv/
.env
dist/
build/
*.log
.DS_Store
env.example
.env copy
# Base de datos
db.sqlite3
*.sqlite3
# collectstatic (Render / producción)
staticfiles/